<% include ../partials/header %>
<br>
<div class="jumbotron">
    <h1 class="display-3 text-center">- ABOUT ME -</h1>
    <hr class="my-2">
        <h1>Name: <%= fullname %></h1>
        <h2 class="display-5">- 5930213030</h1>
        <h2>- Software Engineer</h1>
 <ul>
    <% hobbies.forEach(function(hobby) { %>
        <li><%= hobby %></li>
    <% }); %>
</ul>

<h1>Email: <%= bdate  %></h1>
        <hr class="my-2">
          <p class="lead text-center">
              <a class="btn btn-primary btn-lg" href="/" role="button">ย้อนกลับ</a>
          </p>


</div>
<% include ../partials/footer %>
