<% include ../partials/header %>



<div class="jumbotron">
    <h1 class="display-3">Coffaree Hahza</h1>
        <h2 class="display-1">5930213030</h2>
        <h1><%= fullname %></h1>
 <ul>
    <% hobbies.forEach(function(hobby) { %>
        <li><%= hobby %></li>
    <% }); %>
</ul>

<h1><%= bdate  %></h1>
        <hr class="my-2">
          <p class="lead">
              <a class="btn btn-primary btn-lg" href="/" role="button">ย้อนกลับ</a>
          </p>
</div>


<% include ../partials/footer %>