<% include ../partials/header %>

<div class="jumbotron">
    <h1 class="display-3">140-390 Full Stack Web with JS</h1>
        <p class="lead">PROJECT FULLSTACK</p>
        <hr class="my-2">
        <p>Server-Side CRUD with Express EJS</p>
        <p>Semester 1/2560</p>
        <p>Dr. Korawit Prutsachainimmit</p>
          <p class="lead">
              <a class="btn btn-primary btn-lg" href="about" role="button">ABOUT ME</a>
          </p>
</div>

<% include ../partials/footer %>