<% include ../partials/header %>
<br>
<form action="/users/insert_user" method="post">
<div class="jumbotron bg-link"> 
<h1 class="display-3 text-center">ADD NEW USER</h1>
<div class="form-group">
  <label for="">ID"</label>
  <input type="number"
    class="form-control" value="" name="id" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">USER ID</small>
</div>

<div class="form-group">
  <label for="">Email</label>
  <input type="email"
    class="form-control" value="" name="email" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">USER Email</small>
</div>

<div class="form-group">
  <label for="">Password</label>
  <input type="password"
    class="form-control" value="" name="password" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">USER Password</small>
</div>

<div class="form-group">
        <label for="">Created_at</label>
        <input type="text"
          class="form-control" value="<%= time %>"name="time" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">USER Created_at</small>
      
</div>
<div class="container">
<button type="submit" class="btn btn-success">Submit</button>

<a name="" id="" class="btn btn-primary" href="/users" role="button">Cancel</a>
</div>


<form>
<div>
<% include ../partials/footer %>
