<% include ../partials/header %>
<div class="jumbotron bg-link"> 
<h1 class="display-3">USERS LIST</h1>
<input class="form-control btn-danger bg-dark" id="myInput" type="text" placeholder="Search..">  
<br>
<table class="table">
    <thead>
        <tr>
            <th>Users ID</th>
            <th>Email</th>
            <th>Password</th>
            <th>Edit</th>
            <th>Delete</th>
            <th> <a class="btn btn-success" href="/insert_user" role="button">Insert</a></th>
        </tr>
    </thead>
    <tbody id="myTable">
    <% users.forEach(function(user) { %>
        <tr>
            <td scope="row"><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.password %></td>
            <td>
            <a class="btn btn-warning" href="/users/<%= user.id%>" role="button">Edit</a>
            </td>
            <td>
            <a class="btn btn-danger" href="" role="button">Delete</a>
            </td>
        </tr>
        <% }); %>
    </tbody>
   
    <script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
</table>
 </div>


<% include ../partials/footer %>